body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

label {
  width: 60px;
  border-right: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 10px;
}

textarea {
  width: 95%;
  height: 60%;
  background: transparent;
  border: none;
  outline: none;
  resize: none;
}

.jumbotron {
  text-align: center;
  background-image: linear-gradient(
    180deg,
    hsl(0deg 0% 93%) 0%,
    hsl(0deg 0% 91%) 6%,
    hsl(0deg 0% 89%) 12%,
    hsl(0deg 0% 88%) 18%,
    hsl(0deg 0% 86%) 24%,
    hsl(0deg 0% 84%) 31%,
    hsl(0deg 0% 82%) 37%,
    hsl(0deg 0% 81%) 43%,
    hsl(0deg 0% 79%) 49%,
    hsl(0deg 0% 77%) 55%,
    hsl(0deg 0% 75%) 60%,
    hsl(0deg 0% 73%) 66%,
    hsl(0deg 0% 71%) 72%,
    hsl(0deg 0% 69%) 78%,
    hsl(0deg 0% 66%) 83%,
    hsl(0deg 0% 64%) 89%,
    hsl(0deg 0% 62%) 94%,
    hsl(0deg 0% 59%) 100%
  );  color: black;
  border-radius: 0;
  border-bottom: 2px solid black;
}

.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
}

.past {
  background-image: linear-gradient(
    90deg,
    hsl(0deg 0% 83%) 0%,
    hsl(0deg 0% 81%) 7%,
    hsl(0deg 0% 79%) 14%,
    hsl(0deg 0% 77%) 21%,
    hsl(0deg 0% 75%) 27%,
    hsl(0deg 0% 73%) 33%,
    hsl(0deg 0% 71%) 40%,
    hsl(0deg 0% 68%) 46%,
    hsl(0deg 0% 66%) 51%,
    hsl(0deg 0% 64%) 57%,
    hsl(0deg 0% 61%) 62%,
    hsl(0deg 0% 58%) 68%,
    hsl(0deg 0% 56%) 73%,
    hsl(0deg 0% 53%) 78%,
    hsl(0deg 0% 50%) 84%,
    hsl(0deg 0% 47%) 89%,
    hsl(0deg 0% 43%) 95%,
    hsl(0deg 0% 39%) 100%
  );  color: white;
}

.present {
  background-image: linear-gradient(
  90deg,
  hsl(3deg 100% 69%) 0%,
  hsl(3deg 96% 68%) 7%,
  hsl(3deg 92% 67%) 14%,
  hsl(3deg 89% 65%) 21%,
  hsl(3deg 86% 64%) 27%,
  hsl(3deg 83% 63%) 33%,
  hsl(3deg 80% 61%) 40%,
  hsl(2deg 77% 60%) 46%,
  hsl(2deg 74% 59%) 51%,
  hsl(2deg 72% 57%) 57%,
  hsl(2deg 70% 55%) 62%,
  hsl(2deg 68% 54%) 68%,
  hsl(2deg 66% 52%) 73%,
  hsl(2deg 64% 50%) 78%,
  hsl(2deg 67% 48%) 84%,
  hsl(1deg 72% 46%) 89%,
  hsl(1deg 79% 43%) 95%,
  hsl(3deg 100% 38%) 100%
);
  color: white;
}

.future {
  background-image: linear-gradient(
  90deg,
  hsl(120deg 60% 67%) 0%,
  hsl(120deg 59% 66%) 7%,
  hsl(120deg 59% 65%) 14%,
  hsl(120deg 58% 64%) 21%,
  hsl(120deg 58% 63%) 27%,
  hsl(120deg 57% 62%) 33%,
  hsl(120deg 57% 60%) 40%,
  hsl(120deg 57% 59%) 46%,
  hsl(120deg 56% 58%) 51%,
  hsl(120deg 56% 57%) 57%,
  hsl(120deg 56% 55%) 62%,
  hsl(120deg 56% 54%) 68%,
  hsl(120deg 56% 53%) 73%,
  hsl(120deg 56% 51%) 78%,
  hsl(120deg 58% 49%) 84%,
  hsl(120deg 63% 47%) 89%,
  hsl(120deg 70% 45%) 95%,
  hsl(120deg 81% 42%) 100%
);;
  color: white;
}

.del-btn {
  box-shadow:inset 0px 1px 0px 0px #cf866c;
	background:linear-gradient(to bottom, #d0451b 5%, #bc3315 100%);
	background-color:#d0451b;
	border-radius:3px;
	border:1px solid #942911;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #854629;
  height: 80px;
  border-bottom: 1px solid white;

}

.save-btn {
  box-shadow:inset 0px 1px 0px 0px #9acc85;
	background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
	background-color:#74ad5a;
	border:1px solid #3b6e22;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	padding:6px 12px;
	text-decoration:none;
  height: 80px;
  width: 85px;
  border-bottom: 1px solid white;

}

